h1 {
	text-align: center;
	font-family: 'Galada';
}

div {
  margin: auto;
  background-color: pink;
  width: 300px;
  border: 15px solid purple;
  padding: 50px;
}

mark { 
  background-color: pink;
  color: black;
}

body {
  background-image: url('https://i.pinimg.com/originals/63/61/7e/63617ecffd58c4199c2e43669ba1730f.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  
}